= {{ description }}

by {{ author }}

== {{ annotations.sealion_mission.description }}

image::{{ annotations.mbse_with_a_docs_as_code_approach_for_the_sealion_cubesat_mission_image.targetFilePaths[0] }}[{{ annotations.mbse_with_a_docs_as_code_approach_for_the_sealion_cubesat_mission_image.description }}, 270, 374]

image::{{ annotations.cc_by_40_image.targetFilePaths[0] }}[{{ annotations.cc_by_40_image.description }}]
{{ annotations.sealion_mission_paper_url.description }}

[.notes]
--
{{ annotations.sealion_mission_notes.description }}
--

[.columns]
=== {{ annotations.cubesats.description }}

[.column]
--
image::{{ annotations.lightsail_bread_loaf.targetFilePaths[0] }}[{{ annotations.lightsail_bread_loaf.description }}, 501, 333]
{{ annotations.lightsail_bread_loaf.description }}
--

[.column]
--
image::{{ annotations.lightsail_artist_concept.targetFilePaths[0] }}[{{ annotations.lightsail_artist_concept.description }}, 640, 360]
{{ annotations.lightsail_artist_concept.description }}
--

[.notes]
--
{{ annotations.lightsail_notes.description }}
--

=== {{ annotations.cubesats_by_mission_type.description }}

image::{{ annotations.cubesats_by_mission_type.targetFilePaths[0] }}[{{ annotations.cubesats_by_mission_type.description }}, 624, 606]

[.notes]
--
{{ annotations.cubesats_by_mission_type_notes.description }}
--

== {{ annotations.mach_30_foundation.description }}

image::{{ annotations.mach_30_legacy_logo.targetFilePaths[0] }}[{{ annotations.mach_30_legacy_logo.description }}, 823, 232]

{{ annotations.mach_30_foundation_description.description }}

[.notes]
--
{{ annotations.mach_30_foundation_notes.description }}
--

=== {{ annotations.shepard_test_stand.description }}

image::{{ annotations.fire_smoke_and_open_source_hardware_image.targetFilePaths[0] }}[{{ annotations.fire_smoke_and_open_source_hardware_image.description }}, 640, 360]
{{ annotations.fire_smoke_and_open_source_hardware_url.description }}

[.notes]
--
{{ annotations.fire_smoke_and_open_source_hardware_notes.description }}
--

=== {{ annotations.oshwa_certified_projects_images.description }}

image::{{ annotations.oshwa_certified_projects_images.targetFilePaths[0] }}[{{ annotations.oshwa_certified_projects_images.description }}, 752, 488]

{{ annotations.oshwa_certified_projects_url.description }}

[.notes]
--
{{ annotations.oshwa_certified_projects_notes.description }}
--

=== {{ annotations.open_source_hardware_definition.description }}

image::{{ annotations.oshw_logo.targetFilePaths[0] }}[{{ annotations.oshw_logo.description }}, 500, 144]

{{ annotations.open_source_hardware_description.description }}

[.notes]
--
{{ annotations.open_source_hardware_description_notes.description }}
--

=== {{ annotations.dof.description }}

{{ annotations.oshw_should_be_like_oss.description }}

[%step]
{{ annotations.dof_data_model.description }}

{{ annotations.dof_url.description }}

[.notes]
--
{{ annotations.dof_notes.description }}
--

[.columns]
=== {{ annotations.oshw_should_leverage_oss_tools.description }}

[.column]
--
image::{{ annotations.git_logo.targetFilePaths[0] }}[{{ annotations.git_logo.description }}, 270]
image::{{ annotations.npm_logo.targetFilePaths[0] }}[{{ annotations.npm_logo.description }}, 270]
--

[.column]
--
image::{{ annotations.yarn_logo.targetFilePaths[0] }}[{{ annotations.yarn_logo.description }}, 270]
image::{{ annotations.gradle_logo.targetFilePaths[0] }}[{{ annotations.gradle_logo.description }}, 270]
image::{{ annotations.jinja_logo.targetFilePaths[0] }}[{{ annotations.jinja_logo.description }}, 270]
--

[.notes]
--
{{ annotations.oshw_should_leverage_oss_tools_notes.description }}
--

=== m30ml

{{ annotations.m30ml.description }}
[.notes]
--
{{ annotations.m30ml_notes.description }}
--

== {{ annotations.dof_cubesat.description }}

{{ annotations.dof_cubesat_description.description }}

image::{{ annotations.n2chart_image.targetFilePaths[0] }}[{{ annotations.n2chart_image.description }}, 608, 462]

{{ annotations.dof_cubesat_url.description }}
{{ annotations.cubesat_cli_url.description }}

[.notes]
--
{{ annotations.dof_cubesat_notes.description }}
--

== Questions?
